@import "../variables/variables.scss";

.navbar {
  background-image: url("../images/desktop/image-header.jpg");
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-bottom: 3rem;
  &__logo {
    display: flex;
    justify-content: start;
    align-items: center;
    img {
      width: 120px;
    }
  }
  &__links {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    li {
      margin: 0 1rem;
      color: $White;
      font-size: 16px;
      font-family: 'Barlow', sans-serif;
      cursor: pointer;
    }
    .navbar__contact-btn {
      margin-left: 0.5rem;
      padding: 10px 20px;
      border-radius: 15px;
      outline: none;
      border: none;
      font-size: 13px;
      cursor: pointer;
      background-color: $White;
      font-weight: 600;
      &:hover {
          color: $White;
          background-color: rgb(110,206,255);
      }
    }
  }
}
